<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    
    <!--Redis连接配置，配置项可查阅ReadMe_redis.txt-->
    <add key="RedisConnection" value="10.40.3.2:6379,allowadmin=true,defaultDatabase=0,abortConnect=false" />

    <!--日志连接配置-->
    <add key="LogConnection" value="Data Source=127.0.0.1;Initial Catalog=Chat;Persist Security Info=True;User ID=sa;Password=123" />
    
    <!--日志开关是否打开（此开关打开之前确保数据库配置和数据结构设计完成）-->
    <add key="LogIsOpen" value="true" />
    
    <!--日志默认打开的最低级别-->
    <add key="DefaultLogLevel" value="1" />

    <!--异常日志发邮件开关-->
    <add key="ErrorLogSendEmail" value="false" />
    
    <!--邮件相关配置-->
    <add key="From" value="rdservice@rongzi.com" />
    <add key="DisplayName" value="Pikaer" />
    <add key="Username" value="1441457008@qq.com" />
    <add key="Password" value="" />
    <add key="Smtp" value="smtp.qiye.163.com" />
    <add key="Port" value="25" />

    <!--邮件默认接收人-->
    <add key="DefaultEmailReceivers" value="1441457008@qq.com" />
    
  </appSettings>
</configuration>
