<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--邮件相关配置-->
    <add key="From" value="rdservice@rongzi.com" />
    <add key="DisplayName" value="Pikaer" />
    <add key="Username" value="1441457008@qq.com" />
    <add key="Password" value="" />
    <add key="Smtp" value="smtp.qiye.163.com" />
    <add key="Port" value="25" />
  </appSettings>
</configuration>
